#jumb {
  text-align: center;
  max-width: 500px;
  background-image: url(WhatsApp Image 2019-07-02 at 5.07.35 PM.jpeg;
  background-color: rgba(188,203,20,0.5);
}

#p1 {
  margin-left: 50px;
  margin-right: 50px;
}

#navi {
  background-color: black;
  color: white;
}

#div1 {
  background-image: url("../../assets/img/nbimage.jpeg");
  padding-top: 40px;
  padding-bottom: 50px;
}

#div2 {
  background-image: url(WhatsApp Image 2019-07-02 at 5.07.35 PM.jpeg;
}

#div2 {
}

#HEAD1 {
  text-align: center;
  padding-top: 60px;
}

#HEAD1 {
  text-align: center;
  padding-top: 40px;
  font-size: 32px;
  font-family: cursive;
}

#div2 {
  padding-bottom: 40px;
  background-color: rgba(248,236,177,0.5);
}

#icon {
  text-align: center;
  padding-left: 30px;
  font-size: 50px;
  padding-bottom: 20px;
}

#icon {
  text-align: center;
  padding-left: 30px;
  font-size: 50px;
  padding-bottom: 20px;
}

#icon {
  text-align: center;
  padding-left: 30px;
  font-size: 50px;
  padding-bottom: 20px;
}

#icon {
  text-align: center;
  padding-left: 30px;
  font-size: 50px;
  padding-bottom: 20px;
}

#fot {
  background-color: black;
  color: rgb(251,252,252);
}

#head2 {
  font-size: 40px;
  font-family: cursive;
}

#head3 {
  font-size: 40px;
  font-family: cursive;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 20px;
}

#col {
  padding-bottom: 50px;
}

#jumb {
}

#div4 {
  padding-top: 40px;
  padding-bottom: 20px;
}

#div5 {
  padding-top: 60px;
  padding-bottom: 50px;
}

#div6 {
  background-color: rgba(176,237,147,0.5);
}

